.navbar {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 50px;
  background-color: #525252;
  margin: 0 0 30px 0;
}

.logo {

  display: inline-block;
  position: relative;
  bottom: 2px;
  left: 15px;
  font-weight: bold;
  color: white;
}

.navElements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navElements li a {
  color: white;
  font-weight: bold;
}

.navElements li a:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.612);
}

.search {

  position: relative;
  bottom: 5px;
  right: 10px;
  color: white;
  float: right;
  cursor: pointer;
}

.search input {

  background-color: #525252;
  outline: 0;
  border-width: 0 0 2px;
  border-color: white;
  color: white;
  font-weight: bold;
  font-size: medium;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 24px;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 1265px) {
  .navElements {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #525252;
  }

  .navElements.show {
    display: flex;
  }

  .search {
    display: none;
  }

  .hamburger {
    display: block;
  }
}