.container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 30px;

  }

  .imageparent{
    height: 305px;
    width: 305px;
    padding: 0;
    margin: 0;

  }
  .image {
    height: 305px;
    width: 305px;
    object-fit: cover;
    border-radius: 5%;
  }
  .card {
    position:relative;
      width: 305px;
    height: 375px;
      background-color:transparent;
      border: 1px;
      border-radius: 5%;
      border-color: black;
      margin-right: 30px;
      padding: 0px;
      transition: transform 450ms;

    }
    .card:hover {
        transform: scale(1.05);
      }
    
      .outfitcardbutton {
        border:transparent;
        background:transparent; 
   
        position: absolute;
        left: 5px;
        top:5px;
       z-index: 1;
       background-color:#ffffff36;
       border-radius: 50%;


      }
  .addbutton{
    position: relative;
    left:40%;
    top:30%;
    background-color:#ffffff8a;
    border: transparent;
    z-index: 1;
    border-radius: 50%;
  }
  .firstcard{
    flex-shrink: 0px;
    position:relative;
    width: 305px;
  height: 385px;
    background-color:rgb(121, 118, 118, 0.1);
    border: 1px;
    border-radius: 5%;
    border-color: black;
    margin-right: 30px;
    padding: 0px;
    transition: transform 450ms;
  }
  .firstcard:hover {
    transform: scale(1.05);
  }
      .text{
         position: absolute;
          top: 60%;
          left:20%;
          right: 20%;
          bottom: 50%;
          text-align: center;
          margin:0px;
          padding: 0px; 
 
       


      }
      .card h2 p h3 {
        margin:0px;
        padding: 0px;
        line-height: 0.7;
      }


      .card h3{
        margin-left: 0px;
        padding-left: 0px;
        margin:0px;
      
      }
      .card p{
      
        margin-top: 8px;
        margin-Bottom: 0px; 
        padding-left: 0px;
       
        line-height:0.7;
      }
      .starreview{
        background-color:transparent;
        margin-left: 0px;
      }
      .title{
        margin:20px,0,0,0;
        padding: 0;
        line-height: 0.7;

      }