/* general styles */
h1 {
  margin: 0;
}

p {
  margin-top: 0;
}

.main {
  display: flex;
  margin: 0 3% 0 7%;
}

.main button:hover {
  background-color:rgb(121, 118, 118, 0.1);
}

/* carousel styles */
.carousel {
  overflow: hidden;
  z-index: 0;
}

.carouselView {
  width: 800px;
  white-space: nowrap;
  transition: transform 0.3s;
}

.carouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.carouselItem i {
  font-size: 20px;
  color: #525252;
  background-color: white;
  position: relative;
  bottom: 250px;
  left: 500px;
  cursor: pointer;
  border-radius: 10px;
}

.carouselItem i:hover {
  transform: scale(1.25);
}

.modalPhotoContainer {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.modalPhotoContainer:hover img {
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.modal img {
  width: auto;
  height: 90vh;
  margin: 0;
  padding: 0;
}

.spotlight {
  width: 500px;
  height: 700px;
  object-fit: cover;
}

.carousel button {
  background-color: transparent;
  border: none;
  font-size: larger;
  font-weight: bold;
  color: #525252;
  cursor: pointer;
}

.leftBtn {
  position: relative;
  height: 40px;
  width: 30px;
  left: 135px;
  bottom: 300px;
}

.rightBtn {
  position: relative;
  height: 40px;
  width: 30px;
  left: 685px;
  bottom: 300px;
}

.hidden {
  opacity: 0;
  cursor: default !important;
}

.verticalView {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.verticalPhotos {
  width: 55px;
  height: 55px;
  object-fit: cover;
  cursor: pointer;
  animation: fadein 2s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.verticalPhotos.verticalSelected {
  border-bottom: 3px solid #525252;
}

.verticalButton {
  z-index: 1;
  cursor: pointer;
}

.verticalButton.up {
  height: 49px;
  width: 65px;
  margin-bottom: 0;
  padding: 0;
}

.verticalButton.down {
  margin-top: 0px;
}

/* social media under carousel */
.social {
  margin-top: 75px;
  margin-left: 35px;
  text-align: center;
}

.social i {
  font-size: 34px;
  margin: 0 15px 0 15px;
  cursor: pointer;
}

.social i:hover {
  transform: scale(1.25);
}

/* product detail styles */
.info {
  color: #525252;
  padding: 15px;
  padding-top: 0;
  margin-top: 0;
}

.details {
  padding-top: 0;
  margin-top: 0;
}

.details p {
  margin: 0;
}

.details p strong {
  margin: 0 25px 0 0;
  padding: 0;
}

.details a {
  text-decoration: underline;
  cursor: pointer;
}

.reviews {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}

.reviews div {
  margin-left: 0;
}

.marketingContainer {
  display: flex;
  margin: 0 20% 50px 20%;
}

.marketingCopy {
  width: 600px;
  border: solid;
  border-width: 0 2px 0 0;
  border-color: #525252;
}

.marketingPoints {
  width: 400px;
  margin-left: 15px;
}

.marketingPoints p {
  margin: 0;
}

/* style selector styles */
.selectorContainer {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.styleSelector {
  margin: 0;
}

.styleSelector i {
  position: relative;
  bottom: 10px;
  right: 10px;
}

.styleSelector img {
  width: 80px;
  height: 80px;
  margin: 0;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.styleNotSelected {
  opacity: 0.5;
}

.check {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  width: 15px;
  height: 15px;
}

/* cart options */
.cartOptions {
  display: flex;
  flex-direction: column;
}

.cartOptions button {
  background-color: transparent;
  border-radius: 0;
  border-width: 1px;
  height: 50px;
  text-align: left;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}

.sizes {
  width: 400px;
}

.sizes button {
  width: 80px;
  text-align: center;
  font-weight: lighter;
  border-radius: 5px;
}

.btnSelected {
  font-weight: bold !important;
  border-width: 2px !important;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 0;
  border-radius: 5px;
}

.quantity p {
  width: 45%;
  padding: 0;
  text-align: center;
}

.add {
  width: 250px;
  border-radius: 5px !important;
}

.add span {
  margin-left: 105px;
}

.favorite {
  width: 50px;
  margin-left: 15px;
  padding: 0;
  text-align: center;
  border-radius: 5px !important;
}

.favorite i {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: large;
}

/* responsive styles */
@media only screen and (max-width: 1525px) {
  .main {
    flex-wrap: wrap;
  }

  .carousel {
    margin: auto;
  }

  .info {
    width: 100%;
  }

  .details {
    text-align: center;
  }

  .productOptions {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10vw;
  }

  .selectorContainer {
    height: 220px;
  }

  .cartOptions {
    margin-left: 5vw;
  }

  .social {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1320px) {
  .productOptions {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1162px) {
  .selectorContainer {
    margin: auto;
  }

  .cartOptions {
    margin: auto;
  }
}