.main {

  font-weight: bolder;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-color: blue;
  /* background-color: rgb(197, 207, 207); */
}

.searchBar {

  height: 30px;
  width: 1300px;
  border-radius: 50px;
  position: relative;
  display: flex;
  min-width: 100px;
}

.questions {

  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.answers {

  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

.helpfulQuestion {

  float: right;
}

.addAnswer {

  float: right;
}

.helpfulAnswer {

  float: right;
}

.reportAnswer {

  float: right;
}

.MODAL_STYLES {

  position: 'fixed';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  backgroundColor: '#FFF';
  padding:'50px';
  zIndex: 1000;
}

.OVERLAY_STYLES {

  position: 'fixed';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgroundColor: 'rgba(0, 0, 0, .7)';
  zIndex: 1000;
}

.showMore {

  /* background-color: cornflowerblue; */
}