.main {

  font-weight: bolder;
  font-size: xx-large;
  position: relative;
  left: 20px;
}

.searchBar {

  height: 30px;
  width: 100px !important;
  min-width: 97.5%;
  font-size: 17px;
  border-style: solid;
  border-width: medium;
  border-color: #525252;
  border-radius: 50px;
}

.questions {

  font-size: x-large;
  border-style: solid;
  border-color: #525252 3px;;
  border-radius: 20px;
  font-weight: bold;
  width: flex;
}

.questionBody {

  /* max-width: 800px; */
}

.answers {

  border-bottom: solid 1px;
  font-size: medium;
  font-weight: normal;
}

.helpfulQuestion {

  float: right;
  flex-wrap: wrap;
}

.helpfulQuestion:hover,
.helpfulQuestion:focus {

  color: rgb(17, 16, 16);
  background-color:rgb(121, 118, 118, 0.1);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
}

.addAnswer {

  float: right;
}

.addAnswer:hover,
.addAnswer:focus {

  color: rgb(17, 16, 16);
  background-color:rgb(121, 118, 118, 0.1);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
}

.helpfulAnswer {

  float: right;
}

.helpfulAnswer:hover,
.helpfulAnswer:focus {

  color: rgb(17, 16, 16);
  background-color:rgb(121, 118, 118, 0.1);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
}

.reportAnswer {

  float: right;
}

.reportAnswer:hover,
.reportAnswer:focus {

  color: rgb(17, 16, 16);
  background-color:rgb(121, 118, 118, 0.1);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
}

.close {

  color: rgb(51, 48, 48);
  float: right;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  position: auto;

}

.close:hover,
.close:focus {

  color: rgb(17, 16, 16);
  background-color:rgb(121, 118, 118, 0.1);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
}

.showMore{

  font-size: large;
  font-weight: bold;
}

.showMore:hover,
.showMore:focus {

  color: rgb(17, 16, 16);
  background-color:rgb(121, 118, 118, 0.1);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
}

.itemConfiguration {

  height: 440px;
  width: flex;
  overflow: scroll;
  border-radius: 20px;
}

.formContainer {

  position: relative;
  margin: 8% auto;
  min-height: 60%;
  width: 50%;
  background: white;
  padding: 0px 0px 5px 15px;
  box-sizing: border-box;
  border-radius: 8px;
}

.formInput {

  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 15px 20px;
  padding: 4px;
  width: 300px;
  height: 5%;
  box-sizing: border-box;
  border: solid 1px dimgrey;
  border-radius: 5px;
  outline: dimgrey;
  font-size: 16px;
}

.exit {

  width: 50px;
  margin-left: 15px;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: large;
  position: relative;
  left: -50px;
  top: -35px;
}

.exit:hover,
.exit:focus {

  color: rgb(17, 16, 16);
  text-decoration: none;
  cursor: pointer;
}

.addLoad {

  font-size: large;
  font-weight: bold;
}

.addLoad:hover,
.addLoad:focus {

  color: rgb(17, 16, 16);
  background-color:rgb(121, 118, 118, 0.1);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
}

.imageDetails {

  position: relative;
  left: 20px;
  border-radius:  20px;
  max-width: 150px;
  height: 120px;
}

.imageDetails:hover {

  transform: scale(1.5);
}

.answerBody {

  font-size: large;
  font-weight: bold;
  max-width: 800px;
}

.photoCount {

  font-size: medium;
  position: relative;
  left: 20px;
  top: -10px;
}