* {
  padding: 5px;
  margin: 5px;
}

.container {
  /* height: 300px;
    width: 100%; */
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 30px;



}

.card {
position:relative;
  max-width:305px;
min-height: 357px;
 max-width: 305px;
 min-width: 357px;
  background-color: white;
  border: 1px;
  border-radius: 5%;
  border-color: black;
  margin-right: 20px;
  transition: transform 450ms;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.card:hover {
  transform: scale(1.05);
}
.relateditemimg {
  max-height: 305px;
  min-height: 305;
  min-width: 305;
  max-width: 305px;
  object-fit: cover;
  /* text-align: center;
  align-items: center; justify-content: center; flex-direction: column; */
}
.relateditembutton {
  border: transparent;
  background:transparent;
  display:flex;
  justify-content:flex-start;
  position: absolute;
  left: 5px;
  top:5px;
}
.modalparent{
  position:relative;
}
.Modal_styles {
    position:absolute;
    left:500px;
    top:500px;
    height:500px;
    width:500px;
    z-Index: 1041;
    background-color: white;
    border-radius: 5%;
    border: 2px;
    box-shadow:  rgba(0,0,0,0.35) 0px 5px 15px;
    text-align: center;
}

    .Overlay_style{
             position:fixed;
             top:0;
             left:0;
            right:0;
            bottom:0;
            background-color:rgba(0,0,0, .7);
            z-Index:1041;
            margin: 0px;
            padding:0px;

         }

.modalbutton{
    position: absolute;
    left: 5px;
    top:5px;
}
.tablediv{
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 480px;
    max-height: 480px;
    overflow-y: scroll;
    overflow-x: scroll;

}