

.container {

  display: flex;
  /* overflow-y: hidden;
  overflow-x: scroll;
  padding: 30px; */



}

.card {
width: 100%;
position:relative;
 width:305px;
 height: 375px;
  background-color: white;
  border: 1px;
  border-radius: 5%;
  border-color: black;
   /* margin-right: 20px;  */
  /* padding-right: 20px; */
  transition: transform 450ms;
  /* box-shadow: rgba(0,0,0,0.35) 0px 5px 15px; */
}

.card:hover {
  transform: scale(1.05);
}
.relateditemimg {
  border-radius: 5%;
  height: 305px;
  width: 305px;
  object-fit: cover;
  margin: 0;
  padding: 0;

}
.card h3{
padding: 0;
  margin:0px;
}
.card p{
  margin-top: 8px;
  margin-bottom: 0px;

 
  line-height:0.7;
}

.relateditembutton {
  /* border: transparent;
  background:#ffffff69;
  border-radius: 50%;
  display:flex;
  justify-content:flex-end;
  position: absolute;
  left: 5px;
  top:5px;
  z-index: 1; */
  border:transparent;
  background:transparent; 
 /* display:flex;
  justify-content:flex-start; */
  position: absolute;
  left: 5px;
  top:5px;
 z-index: 1;
 background-color:#ffffff36;
 border-radius: 50%;

} 

.modalparent{
  position:relative;
}
.Modal_styles {
    position:fixed;
    left:500px;
    top: 300px;
   height:200px;
    width:400px;
    transform: 'translate(-50%, -50%)';
    z-Index: 1000;
    background-color: white;
    border-radius: 5%;
    border: 2px;
    box-shadow:  rgba(0,0,0,0.35) 0px 5px 15px;
    text-align: center;
    overflow-y: scroll;
}

    .Overlay_style{
             position:fixed;
             top:0;
             left:0;
            right:0;
            bottom:0;
            background-color:rgba(0,0,0, .7);
            z-Index:1000;
            margin: 0px;
            padding:0px;

         }

.modalbutton{
    background-color: #ffffff36;
    border: transparent;
    position: absolute;
    left: 5px;
    top:5px;
    
}
.tablediv{
  margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 480px;
    max-height: 480px;
    overflow-y: scroll;
    overflow-x: scroll;

}


.carouselcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel_wrapper {
  display: flex;
  width: 100%;
  position: relative;
}



.carousel_content {
  display: flex;
  /* transition: all 250ms linear; */
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
 gap: 20px;
}

/* hide scrollbar in webkit browser */
.carousel_content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel_content > *  {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  width: calc(100% / 4);
}

.left_arrow, .right_arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left_arrow {
  left: 24px;
}

.right_arrow {
  right: 24px;
}

.title{
  margin: 0;
  padding: 0;
  line-height: 0.7;

}
.starreview{
  background-color:transparent;
  margin-left: 0px;
}