.containerStyles {
  height: 25px;
  width: 80%;
  background-color: black;
  border-radius: 20px;
  margin: 0%;
  border-style: solid;
}

.fillerStyles {
  position: relative;
  height: 100%;
  border-radius: inherit;
  text-align: left;
  margin-top: -2.35%;
  margin-left: -2.45%;
}


.labelStyles {
  position: relative;
  padding: 0;
  color: white;
  font-weight: bold;
}

.numberAlign {
  margin-left: 25%;
  font-size: large;
  font-weight: bold;
  color: #525252;
}