.starRating {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #525252;
  cursor: pointer;
}
.off {
  color: #ccc;
  cursor: pointer;
}
/*Styles for the photo inputter form*/
.inputStyle {
  display: "none";
}
.sizeStyle {
  height: "60px";
  width: "60px";
  border: "1px dashed black";
}

.imgStyle {
  width: "100%";
  height: "100%";
  position: "absolute";
}

.modalForm {
  display: fixed; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0%;
  top: -50%;
  width: 650px; /* Full width */
  height: 650px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:rgb(241,241,241, 1);
  border: 1px solid #525252;
  border-radius: 20px;
  /* transform: translate(-50%, -50%); */
}
