.buttonsA {
  display: inline-block;
  padding: 12px 8px;
  background-color: transparent;
  border: none;
  color: #525252;
  border: solid;
  border-width: .5px;
  cursor: pointer;
  border-radius: 5px;
}

.buttonsA:hover {
  /* background-color:dimgray; */
  background-color:rgb(121, 118, 118, 0.1);
}



.og {
  margin-top: 15px;
  position: relative;
  text-align: center;
  left: -20%;
}


/************************
CSS for the drop down bar
************************/
/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: large;
  font-weight: bold;
  box-shadow: 30%;
  border: none;
  cursor: pointer;
  height: auto;
  width: flex;
  border-radius: 20px;
  box-sizing: rgb(0 0 0 / 35%) opx 5px 15px;
  display: inline-flexbox;
}

/*RESET BUTTON ON FEED*/
.resetbtn {
  background-color: #bf3232;
  color: white;
  padding: 16px;
  font-size: large;
  font-weight: bold;
  box-shadow: 30%;
  border: none;
  cursor: pointer;
  height: auto;
  width: flex;
  border-radius: 20px;
  box-sizing: rgb(0 0 0 / 35%) opx 5px 15px;
  display: inline-flexbox;
}

.resetbtn:hover {
 background-color: #590f0f;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  /* display: none; */
  position: absolute;
  /* display: none; */
  background-color: #f1f1f1;
  min-width: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  box-shadow: rgb(0 0 0 /35%) 0px 5px 15px;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  border: 1px solid #525252;
  border-radius: 20px;
  z-index: 10;
  left: 20%;
  top: 72%;
}

/* Links inside the dropdown */
.dropdownContent a {
  color: black;
  background-color: #f1f1f1;
  padding: 10px 14px;
  text-decoration: underline #525252 2.5px ;
  display: flex;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}


/*formatting for review photos*/
.reviewImages {
  border-radius: 20px;
  height: 200px;
  width: 150px;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-filter: brightness(90%);
  z-index: 10;
 }

 .reviewImages:hover {
  transform: scale(1.4);
  -webkit-filter: brightness(110%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 20;
 }
 .dropDownFlex {
   display: flex;
   position: relative;
 }

 .ratingBoxOutline {
   width: auto;
   height: flex;
   border-radius: 20px;
   box-shadow: 30%;
   box-shadow: #525252 0px 5px 15px;
   display: inline-flexbox;
 }

.RC_FeedContainer {
  display: flex;
  color: #525252;
}

.RC_Feed_Flex1 {
  flex: 1;
  border: 2px solid white;
  margin: 10px;

}
.RC_Feed_Flex2 {
  flex: 4;
  border: 2px solid white;
  margin: 10px;
}

.characteristicsContainer {
  width: auto;
  height: flex;
  border-radius: 20px;
  box-shadow: 30%;
  box-shadow: #00000059 0px 5px 15px;
  display: inline-flexbox;
}

.characteristicHeader {
  font-size: large;
  font-weight: bold;
  color: #525252;
}

.feedFont {
  color: #525252;
  font-weight: bold;
  font-size: large;
}